@import "../../assets/main.scss";

.todosCard {
  max-width: 850px;
  margin: 20px auto;
  background-color: $white;
  padding: 0 20px ;
}

.todoWrapper {
    padding: 0 20px;
    margin-right: 5rem;
}

.todoTitle {
    text-align: left;
    margin: 10px 0;
}

.todoText {
    font-size: $text-sm;
    text-align: justify;
}

