@import "../../assets/main.scss";

.btn {
  border: none;
  cursor: pointer;
  background-color: $blue;
  color: $white;
  border-radius: $border-rad-md;
  padding: 8px 20px;
  margin-left: 20px;
  font-size: $text-sm;
  outline: none;

  &:hover {
    background-color: darken($color: $blue, $amount: 5);
  }

  &:active {
    transform: translateY(2px);
  }
}
