$white: #fff;
$blue: #0983c5;
$border-rad-sm: 2px;
$border-rad-md: 4px;
$border-rad-lg: 8px;
$grey-border: 1px solid #f4f4f4;
$base-text-color: #181818;
$text-sm: 11px;
$text-md: 12px;
$text-lg: 16px;
$light-font: 300;
$reg-font: 400;
$bold-font: 700;
